PORT=5000
MONGO_URI=mongodb+srv://rahulmehta712004_db_user:kNksliTt8W5guHbS@cluster0.xvel7ny.mongodb.net/auth_app?retryWrites=true&w=majority
JWT_SECRET=replace_this_with_a_long_random_secret
CLIENT_URL=http://localhost:5173
